


.TopNavlink {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size:13px;
	color:#1e426f;
	text-decoration:none;
	line-height:20px;
	letter-spacing:0px;
	font-weight:bold}
.TopNavlink:hover {color: #c9dd03;}
.TopNavlinkstate {cursor: hand; font-family:verdana,arial,helvetica,sans serif; font-size:13px; letter-spacing:1px; font-variant: small-caps; color:#c9dd03;}



.MainNavlink {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size:15px;
	color:#1e426f;
	text-decoration:none;
	line-height:20px;
	letter-spacing:0px;
	font-weight:bold}
.MainNavlink:hover {color: #c9dd03;}
.MainNavlinkstate {cursor: hand; font-family:verdana,arial,helvetica,sans serif; font-size:15px; letter-spacing:1px; font-variant: small-caps; color:#c9dd03;}




body { font: 13px arial, sans-serif; color: #12313a; margin: 0; padding: 0; height: 100%; position: relative; }
.copy { font: 10px arial, sans-serif; color: #ffffff; margin: 0; padding: 0; height: 100%; position: relative; }

.text { font: 12px arial, sans-serif; color: #12313a; margin: 0; padding: 0; height: 100%; position: relative; }




.HeaderTextHomeLg {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size:20px;
	font-weight:normal;
	color:#1e426f;
	line-height:20px;}		


.HeaderTextHome {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#F39712;
	line-height:12px;}
.TextHomeLg {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size:12px;
	color:#FFFFFF;
	line-height:12px;}
.TextHomeLgLink {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size:12px;
	color:#F39712;
	line-height:14px;}
.BoldTextHome {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#FFFFFF;
	line-height:12px;}
.BoldTextHomeLink {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#F39712;
	line-height:12px;}
.TextHomeSm {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size:11px;
	color:#FFFFFF;
	line-height:12px;}
.TextHomeSpace {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size:11px;
	color:#F39712;
	line-height:20px;}
.TextHomeSmLink {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size:11px;
	color:#F39712;
	line-height:12px;}
.TextHome {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size:11px;
	color:#FFFFFF;
	line-height:12px;}
	
.text {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size:12px;
	color:#000000;
	line-height:20px;}
	
.columnhead {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-weight:bold;
	font-size:14px;
	color:#c2c2c4;
	line-height:18px}
		
.title_inside {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#ffffff;
	line-height:18px;}

.headline_inside {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#1d3887;
	line-height:18px;}
	
.headbluebdmed {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#1d3887;
	line-height:16px;}
	
.subheadbluebd {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#1d3887;
	line-height:16px;}
	
.subheadblue {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#1d3887;
	line-height:16px;}
	
.subheadsmitalic {
	font-family: Times, Garamond, serif;
	font-size:12px;
	font-weight:normal;
	font-style:italic;
	color:#000000;
	line-height:16px;}
	
.leftcoltext {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size:11px;
	color:#ffffff;
	line-height:20px;}
	
.caption {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size:11px;
	color:#1d3887;
	line-height:14px;}
	
.copyright {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size:10px;
	color:#A7A7A7}
	
.link {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-weight:bold;
	font-size:12px;
	color:#8E362F;
	line-height:20px;}
	
.linkhome {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size:12px;
	color:#8E362F;
	line-height:20px;}
	
.linkinside {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-weight:normal;
	font-size:11px;
	color:#1d3887;
	line-height:20px;}
	
.linksminsidewht {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-weight:normal;
	font-size:11px;
	color:#ffffff;
	line-height:18px;}
	
.linksminsideblu {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-weight:normal;
	font-size:11px;
	color:#1d3887;
	line-height:12px;}
	
	
.linksmallwht {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size:10px;
	color:#ffffff;
	text-decoration:none;
	line-height:16px;}

.linksmallwhtline {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size:10px;
	color:#ffffff;
	line-height:16px;}
	
.bottomnav {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size:10px;
	color:#ffffff;
	text-decoration:none;
	line-height:16px;
	font-weight:normal}
		
.subnav {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size:11px;
	color:#000000;
	line-height:19px;
	letter-spacing:1px}
	
.updated {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size:10px;
	color:#999999;
	line-height:19px;}
	
	
		.list {
  border-width: 0px 0px 0px 0px;
  width: 475px;
  margin-left: 5px;
  margin-top: 5px;
  background-color: #c6c1b8;
  padding: 0px;}
  
  
  .list2 {
  margin-left: 0px;
  margin-top: 0px;
  background-color: #f3f1e4;
  padding: 3px;}



.table{
	background-color: #FFFFFF;
	border-color: #1d3887;
	width: auto !important;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	margin-bottom: 8px}

.tableTitle {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#F39712;
	background-color: #dddddd;
	line-height:30px;}

.tableText{
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size:12px;
	color:#000000;
	background-color: #eeeeee;
	line-height:20px;}




.tableopenhouse{
	
	border-color: #201e21;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	margin-bottom: 8px}	
	
	
.CourseTitle {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#2A4A93;
	line-height:20px;}
	
.CourseText {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#666666;
	line-height:16px;}
	
	
.CourseHomeLink {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size:10px;
	font-weight:normal;
	color:#666666;
	line-height:16px;}
	
.CourseTextBlue {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#2A4A93;
	line-height:16px;}
	
.CoursePageLink {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#666666;
	line-height:16px;}
	
	sub { position: relative; bottom: 0; left:.2ex; font-size: 80%;}
	
.featureText {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size:12px;
	font-style:italic;
	font-weight:normal;
	color:#1D3887;
	line-height:16px;}
