
* {
    margin: 0;
}
html, body {
    height: 93%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}
.footer {
    bottom: 0px;
    width: 100%;
}

.footer, .push {
    height: 5px; 
}




.x-grid-cell-text{
font-size: 20px;
text-align: right;
}

.x-grid-cell{
  height: 30px;
}

/* div container containing the form */
#searchContainer {
margin:20px;
}

/* Style the search input field. */
#field {
float:left;
width:400px;
height:30px;
line-height:27px;
text-indent:10px;
font-family:arial, sans-serif;
font-size:12px;
color:#333;
background: #fff;
border:solid 1px #d9d9d9;
border-top:solid 1px #c0c0c0;
border-right:none;
}

/* Style the "X" text button next to the search input field */
#delete {
    float:left;
    width:16px;
    height:30px;
    line-height:27px;
    margin-right:15px;
    padding:0 20px 0 20px;
    font-family: "Lucida Sans", "Lucida Sans Unicode",sans-serif;
    font-size:22px;
    background: #fff; 
    border:solid 1px #d9d9d9;
    border-top:solid 1px #c0c0c0;
    border-left:10px;
}
/* Set default state of "X" and hide it */
#delete #x {
color:#A1B9ED;
cursor:pointer;
display:none;
}
/* Set the hover state of "X" */
#delete #x:hover {
color:#36c;
}
/* Syle the search button. Settings of line-height, font-size, text-indent used to hide submit value in
 * IE */
#searchbtn {
cursor:pointer;
width:70px;
height: 31px;
line-height:0;
font-size:0;
text-indent:-999px;
color: transparent;
background:url(http://proteomecentral.proteomexchange.org/javascript/image/ico-search.png)
no-repeat #2A4A93 center; /*#4d90fe*/
border: 1px solid #3079ED;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
/* Style the search button hover state */
#searchbtn:hover {
background:url(http://proteomecentral.proteomexchange.org/javascript/image/ico-search.png)
no-repeat center #357AE8;
border: 1px solid #2F5BB7;
}
/* Clear floats */
.fclear {clear:both}







/*grid expandabl box*/
#metadata #box, #subMeta #metadata #box {
  padding-left:10px;
}
#metadata #box table, #subMeta #metadata #box table {
  padding:0;
  margin:0;
}
#metadata {
  margin-top: 20px;
}
